@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.body {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    max-height: 50%;
    max-width: 80%;
    justify-content: center;
    border: rebeccapurple solid 2px;
}

.choose-button {
    width: 180px;
    height: 60px;
    background-color: #0d9f4e;
    color: white;
    font-size: 20px;
    font-family: "roboto";
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 1px 1px 1px 1px rgb(4, 31, 12);
    border: none;
}

.clicked-letter {
    font-weight: 500;
    height: 30px;
    font-size: 20px;
    border-bottom: black 4px solid;
    text-align: center;
    width: 4vw;
    margin-right: 10px;
}


.main {
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: row;
}

.input {
    height: 35px;
    width: 80%;
    align-self: center;
    margin-right: 2%;
    text-align: center;
    border-radius: 5px;
}

.left-figure {
    border: 5px solid forestgreen;
    align-items: center;
    width: 50%;
}

.figure {
    width: 100%;

}

.right-column {
    width: 50%;
    display: flex;
    border: 1px solid fuchsia;
    justify-content:space-between;
    align-items:flex-end;
    flex-direction: column;
    padding: 30px;
}

.below-board {
    display: flex;
    flex-direction: row;
    border: darkgoldenrod 1px solid;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.below-board p {
    text-align: center;
    width: 250px;
    border: #54f942 solid 1px;
}

.board{
    border: darkred solid 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.each-letter {
    background-color: rgb(180, 211, 220);
    border-radius: 5px;
    color:  rgb(36, 99, 118);
    margin-bottom: 10px;
    font-weight: 700;
    height: 50px;
    margin-right: 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hidden-word {
    font-weight: 500;
    height: 30px;
    font-size: 20px;
    text-align: center;
    width: 4vw;
    margin-right: 10px;
    opacity: 0;
}

.gameWord-container {
    display: flex;
    justify-content: space-around;
    align-self: center;
    max-width: 90%;
}

.user-board {
    margin-top: 20px;
    border: 2px solid indianred;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;

}

.try-button {
    width: 150px;
    height: 40px ;
    align-self: center;
    background-color: rgb(180, 211, 220);
    color:  rgb(36, 99, 118);
    font-weight: 700;
    border-radius: 5px;

}